.header{
  background: linear-gradient(to right, #FFFB73, #FFA33C);
  padding: 15px;
  text-align: center;
}
.todo-app{
  max-width: 1080px;
  margin: 70px auto;
  display: flex;
  justify-content: center;
}
.todo-app > form > input {
  width: 700px;
  padding: 10px;
  border-radius: 5px;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
}
.todo-list{
  max-width: 780px;
  margin: 0px auto;
  
  padding-bottom: 50px;
 
  
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.flex > p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 1.5px;
}

button{
  padding: 5px 9px;
  margin-right: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover{
  transform: scale(1.1,1.1);
  transition-duration: 200ms;
}
.complete{
  background-color: #FFFB73;

}
.incomplete{
  background-color: greenyellow;
}
.line-through{
  text-decoration: line-through;
}
.red{
  background-color: rgb(246, 97, 97);
}